<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <style>
    .description{
      font-size: 18px;
      line-height: 15px;
      color: gray;
      font-family: Calibri;
      text-align: center;
    }
    .subtext{
      text-align: center;
      font-family: Calibri;
      font-size: 40px;
      font-weight: lighter;
      margin-top:-4px;
    }
    .box-border{
      background-color: white;
      border: 1px white solid;
      border-radius: 5px;
      max-width: 50%;
      margin: 40px auto 0;
    }

    @media(max-width: 500px){
      .subtext{
        font-size:22px;
      }
      .description{
        font-size: 12px;
      }
      .box-border{
        max-width: 90%;
      }
    }
  </style>
</head>
<body>
  <div style="background: #5f97b7;">
    <!-- Div containing info about the order -->
    <div class="box-border" style="border: 20px solid #5f97b7;">
      <!-- PRESENTATION -->
      <div class="subtext" style="margin-top: 30px;">
        ¡ALERTA {{user.name}}!
      </div>
      <div class="description" style="margin-top: 15px">
        Tu mascota {{pet.name}} tiene muy poquito nivel de bateria<br>
        Para ver el nivel actual en tiempo real, abra la app
      </div>
      </div>
    </div>
  </div>
</body>
</html>